html, body {
    width: 100%;
    height: 100%;
    background-color:#e5e6e7;
    align-items: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 800px;
}

/*this styling flips/unflips the field*/
/*leave it commented to have a traditional field orientation*/
/*uncomment it to flip the field orientation*/
/*#blue-canvas, #red-canvas {
    rotate: 180deg;
}*/

#start {
    margin-left: 15px;
    margin-top: 15px;
}

#score {
    height: 75px;
}

#blue-container {
    display: inline-block;
}

#red-container {
    display: inline-block;
}

#list {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 300px;
    height: 900px;
}

#scout-list {
    display: inline-block;
    height: 900px;
    width: 175px;
    padding: 10px;
}

#match-setter {
    width: 300px;
}

label {
    margin-top: 30px;
}

.input-label {
    margin-left: 20px;
}

div{
  margin:0 auto;
  
}
#but{  
  text-align:center;
}
#A-img,#B-img{
    width:240px;
    height:50px;
/*background: #f85032; *//* Old browsers */
background: -moz-linear-gradient(top,  #faeae7 0%,/* #f16f5c 0%, #f16f5c 0%, #f6290c 16%, #f02f17 71%,*/ #e73827 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2bcb2), /*color-stop(0%,#f16f5c), color-stop(0%,#f16f5c), color-stop(16%,#f6290c), color-stop(71%,#f02f17),*/ color-stop(100%,#e73827)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2bcb2 0%,/*#f16f5c 0%,#f16f5c 0%,#f6290c 16%,#f02f17 71%,*/#e73827 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2bcb2 0%,/*#f16f5c 0%,#f16f5c 0%,#f6290c 16%,#f02f17 71%,*/#e73827 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, /* #f85032 0%,#f16f5c 0%,#f16f5c 0%,#f6290c 16%,#f02f17 71%,*/#e73827 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2bcb2 0%,/*#f16f5c 0%,#f16f5c 0%,#f6290c 16%,#f02f17 71%,*/#e73827 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */

    float:left;
    color:white;
    font-size:45px;
    text-align:center; 
    }
#B-img{
background: #c5deea; /* Old browsers */
background: -moz-linear-gradient(top,  #c5deea 0%, #066dab 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5deea), color-stop(100%,#066dab)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c5deea 0%,#066dab 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c5deea 0%,#066dab 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c5deea 0%,#066dab 100%); /* IE10+ */
background: linear-gradient(to bottom,  #c5deea 0%,#066dab 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 ); /* IE6-9 */

    }
.A-point,.B-point{
    width:130px;
    height:30px;
    float:right;
    color:white;
    background:#ccc;
    font-size:30px;
    text-align:center; 
    }
.team-div{
    width:134px;
    height:50px;
    float:left;
    }
.B-team-hdr,.A-team-hdr{
    width:130px;
    height:20px;
    font-weight: bold;
    float:right;
    color: white;
    font-size:15px;
    text-align: center;
    }
.B-team-hdr{
    background: #c5deea; /* Old browsers */
    background: -moz-linear-gradient(top,  #c5deea 0%, #066dab 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5deea), color-stop(100%,#066dab)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c5deea 0%,#066dab 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c5deea 0%,#066dab 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c5deea 0%,#066dab 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c5deea 0%,#066dab 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 ); /* IE6-9 */
}
.A-team-hdr{
    background: -moz-linear-gradient(top,  #faeae7 0%,/* #f16f5c 0%, #f16f5c 0%, #f6290c 16%, #f02f17 71%,*/ #e73827 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2bcb2), /*color-stop(0%,#f16f5c), color-stop(0%,#f16f5c), color-stop(16%,#f6290c), color-stop(71%,#f02f17),*/ color-stop(100%,#e73827)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f2bcb2 0%,/*#f16f5c 0%,#f16f5c 0%,#f6290c 16%,#f02f17 71%,*/#e73827 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f2bcb2 0%,/*#f16f5c 0%,#f16f5c 0%,#f6290c 16%,#f02f17 71%,*/#e73827 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, /* #f85032 0%,#f16f5c 0%,#f16f5c 0%,#f6290c 16%,#f02f17 71%,*/#e73827 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f2bcb2 0%,/*#f16f5c 0%,#f16f5c 0%,#f6290c 16%,#f02f17 71%,*/#e73827 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}
#A-team{
    border-right-style:solid;
    border-right-width:2px;
    border-color:white;
    }
#B-team,#A-team{
    width:800px;
    height:50px;
    float:left;
    }
#scores{
    width:100%;
    /*height:50px;*/
    background-color: white;
    align-items: center;
    text-align: center;

    }
.scores-header-Red,.scores-header-Blue{
    width: 122px;
    height:24px;
    color:white;
    font-size:18px;
    text-align:left; 
    
    clear: both;
    display: inline-block;
    vertical-align: bottom;
    font-weight: bold;
    border-top-style:solid;
    border-bottom-style:solid;
    border-width: 1px;
    border-color:white;
    /*border-radius:10px;*/
    }
.scores-point{
    /*width:129px;*/
    width: 122px;
    height:24px;
    color:white;
    font-size:22px;
    text-align:center; 
    background:#ccc;
    clear: both;
    display: inline-block;
    vertical-align: bottom;
    font-weight: bold;
    border-top-style:solid;
    border-bottom-style:solid;
    border-width: 1px;
    border-color:white;

    }
.scores-header-Blue{
    background:#066dab;
}
.scores-header-Red{
    background: #e63828; 
}
#Penalty-Red, #Penalty-Blue{
    width: 100%;
    height:30px;
    background:white;
    clear: both;
    
    align-items: center;
    text-align: center;
    }


#robot-1, #robot-2, #robot-3, #robot-4, #robot-5, #robot-6{
    display: inline-block;
    vertical-align: middle;
    width: 252px;
    align-content: center;
    color: black;
    font-size:25px;
    text-align:center;
/*background: #fceabb; *//* Old browsers */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 );/ /* IE6-9 */
    }
#robot-1
{
    background-color: #9fa0a1;
}
#robot-2
{
    background-color: #9fa0a1;
}
#robot-3
{
    background-color: #9fa0a1;
}
#robot-4
{
    background-color: #9fa0a1;
}
#robot-5
{
    background-color: #9fa0a1;
}
#robot-6
{
    background-color: #9fa0a1;
}
#robot-scores{
    display: inline-block;
    vertical-align: middle;
    width: 254px;
    height: 160px;
    align-content: center;
    color: white;
    text-align:center;
/*background: #fceabb; *//* Old browsers */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 );/ /* IE6-9 */
    }
.outA{
    margin-left: 50px;
    text-align: center;
    width:50px;
}
.outB{ 
     margin-right:10px;
     margin-left: 50px;
     text-align: center;
     width:50px;
    }
.outP{ 
    width: 300px;
    
    }
#Round{  
    width:224px;
    height:80px;
    float:left;
    border-right-style:solid;
    border-right-width:2px;
    border-color:white;
    }
#rd{
    font-size:50px;
    }
#Quarter{  
    width:250px;
    height:80px;
    float:left;
    border-right-style:solid;
    border-right-width:2px;
    border-color:white;
    }
#Shot-clock{
    width:224px;
    height:80px;
    }
#Shot-clock,#Round,#Quarter{  
    font-size:70px;
    color:white;
    text-align:center;
    float:left;
    }  
#Shot-clock,#Round,#Quarter,#B-team,#A-team,#Penalty{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#3b3b3b', endColorstr = '#000000');
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#3b3b3b', endColorstr = '#000000')";
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
background-image: -moz-linear-gradient(top, #3b3b3b, #000000);
background-image: -ms-linear-gradient(top, #3b3b3b, #000000);
background-image: -o-linear-gradient(top, #3b3b3b, #000000);
background-image: -webkit-gradient(linear, center top, center bottom, from(#3b3b3b), to(#000000));
background-image: -webkit-linear-gradient(top, #3b3b3b, #000000);
background-image: linear-gradient(top, #3b3b3b, #000000);
/*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/
    }

#main {
    width:775px;
    height:139px;
    /*height: 200px;*/
    /*border-style:solid;
    border-width:1px;
    border-color:black;*/
    background-color: black;
    align-items: center;
}

.main{
    width:775px;
    /*height:139px;*/
    height: 200px;
    /*border-style:solid;
    border-width:1px;
    border-color:black;*/
    background-color: black;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
      
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
      
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
      
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
      
input:checked + .slider {
    background-color: #2196F3;
}
      
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
      
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
      
/* Rounded sliders */
.slider.round {
     border-radius: 34px;
}
      
.slider.round:before {
    border-radius: 50%;
}

button, select {
    /*display: block;*/
    display: inline-block;
    position: relative;
    padding: 15px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
}

.input-container-blue, .input-container-red, .input-container {
    display: block;
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 22px;
}

.input-container-blue
{
    background: #c5deea; /* Old browsers */
    background: -moz-linear-gradient(top,  #c5deea 0%, #066dab 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5deea), color-stop(100%,#066dab)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c5deea 0%,#066dab 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c5deea 0%,#066dab 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c5deea 0%,#066dab 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c5deea 0%,#066dab 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 ); /* IE6-9 */
    color: white;
    text-align: center;
}

.input-container-red
{
    background: -moz-linear-gradient(top,  #faeae7 0%,/* #f16f5c 0%, #f16f5c 0%, #f6290c 16%, #f02f17 71%,*/ #e73827 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2bcb2), /*color-stop(0%,#f16f5c), color-stop(0%,#f16f5c), color-stop(16%,#f6290c), color-stop(71%,#f02f17),*/ color-stop(100%,#e73827)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f2bcb2 0%,/*#f16f5c 0%,#f16f5c 0%,#f6290c 16%,#f02f17 71%,*/#e73827 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f2bcb2 0%,/*#f16f5c 0%,#f16f5c 0%,#f6290c 16%,#f02f17 71%,*/#e73827 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, /* #f85032 0%,#f16f5c 0%,#f16f5c 0%,#f6290c 16%,#f02f17 71%,*/#e73827 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f2bcb2 0%,/*#f16f5c 0%,#f16f5c 0%,#f6290c 16%,#f02f17 71%,*/#e73827 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
    color: white;
    text-align: center;
}

/* Customize the label (the container) */
.container {
    /*display: block;*/
    display: none;
    width: 200px;
    position: relative;
    padding-left: 15px;
    margin-bottom: 12px;
    margin-left: 20px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }