
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


html, body {
    width: 100%;
    height: 100%;
    background-color:#e5e6e7;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

#panel {
    background-color: black;
    color: white;
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "matchnumber gamestate startmatch";
}


#startbutton{
    width: 100%;
    grid-area: startmatch;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: end;
    text-align: right;
    justify-content: center;
    margin-right: 15px;
}

#start{
    height: 100%;
    width: 30%;
    margin: 5px 5px 2.5px;
}
#flipper{
    height: 100%;
    width: 30%;
    margin: 2.5px 5px 5px;
}

#slider {
    padding-top: 2.5%;
    width: 100%;
    grid-area: gamestate;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#matchnumber{
    width: 100%;
    grid-area: matchnumber;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: center;
    padding: 0px;
}




.main{
    padding: 1%;
    width:98%;
    height: 225px;
    /*border-style:solid;
    border-width:1px;
    border-color:black;*/
    /*background-color: black;*/

    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-areas: "blueScore blueCanvas redCanvas redScore";
}

#blue-canvas {
    grid-area: blueCanvas;
}

#blueScore {
    grid-area: blueScore;
    margin: 0 0;
}
#blueScore h1{
    text-align: center;
    background-color: #2125f3;
    color: whitesmoke;
}

#blueScore table {
    width: 100%; /* Adjusted width to fill the available space */
    margin: 0 0;
    border-spacing: 0px;
    padding-top: 10px;
}

#blueScore th, #blueScore td {
    padding: 5px 5px; 
    text-align: left;
    font-size: 14px; /* Reduced font size */
    
}
#blueScore td:nth-child(2) {
    background-color: #d4e9ff;
}

#blueScore th {
    background-color: #f2f2f2;
}

#blueScore td:first-child {
    font-weight: bold;
}

#totalBlueScore table{
    padding: 0px;
}



#red-canvas {
    grid-area: redCanvas;
}

#redScore {
    grid-area: redScore;
    margin: 0 0;
}
#redScore h1{
    text-align: center;
    background-color: #f32121;
    color: whitesmoke;
    padding: 0px;
}

#redScore table {
    width: 100%; /* Adjusted width to fill the available space */
    margin: 0 0;
    border-spacing: 0px;
    padding-top: 10px;
}

#redScore th, #redScore td {
    padding: 5px 5px; 
    text-align: left;
    font-size: 14px; /* Reduced font size */
    
}
#redScore td:nth-child(2) {
    background-color: #ffd4d4;
}

#redScore th {
    background-color: #f2f2f2;
}

#redScore td:first-child {
    font-weight: bold;
}

#totalRedScore table{
    padding: 0px;
}

